body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: midnightblue;
    margin: 0;
    padding: 75px;
    color: white;
}

header h1 {
    font-size: 5em;
    padding: 0;
    margin: 0;
}

header div {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.info_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
    border-radius: 8px;
    background-color: white;
    color: black;
    padding: 50px 0 50px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.info_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 75%;
}

.info_list p {
    font-size: 2.5em;
    margin: 15px 0 15px 0;
}

#location {
    margin-right: 20px;
    padding: 12px;
    width: 275px;
    font-size: 1.5em;
}

#locate {
    font-size: 2.5em;
}

#countdown {
    padding: 30px 0 20px 0;
}

#cd_label {
    font-size: 3em;
    padding: 0;
    margin: 0;
    color: grey;
}

#cd_timer {
    font-size: 8em;
    padding: 0;
    margin: 0;
}

.value {
    font-weight: bold;
}

#to,
#from,
#arrow {
    font-weight: bold;
    color: midnightblue;
    font-size: 4em;
}
