* {
    box-sizing: border-box;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.info_panel {
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    width: 15%;
    gap: 2px;
}

.info_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info_list p {
    margin: 0;
    padding: 0;
}

.cd_panel {
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.cd_panel h1,
.cd_panel h2 {
    margin: 0;
    padding: 0;
}

#stat_name {
    text-align: left;
}

#stat_code {
    text-align: right;
}

#locate {
    margin-left: 10px;
}
