* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: royalblue;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto auto 20px;
    color: white;
}

header h1 {
    text-align: left;
}

.location_class {
    display: flex;
    align-items: right;
    justify-content: right;
}

.info_panel {
    flex-direction: column;
    justify-content: center;
    margin: 12px auto;
    width: 85%;
    gap: 2px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}

.info_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info_list p {
    margin: 0;
    padding: 0;
}

.info_panel h1,
.info_panel h2 {
    margin: 0;
    padding: 0;
}

#loc_sel {
    margin-bottom: 20px;
}

#title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#stat_name {
    text-align: left;
    max-width: 50%;
    width: fit-content;
}

#stat_code {
    text-align: right;
}

#locate {
    margin-left: 10px;
}

@media (min-width: 600px) {
    .info_panel {
        width: 50%;
        margin: 16px auto;
    }
}

@media (min-width: 1024px) {
    .info_panel {
        width: 25%;
        margin: 20px auto;
    }
}

@media (min-width: 1440px) {
    .info_panel {
        width: 18%;
    }
}
